<div data-bind="page: {id: 'item', params:['id'], title: 'item'}">
    {{#if:$page.isVisible()}}
        {{#with: get(id())()/}}
        {{#defaultPage}}
            {{#with: item}}
                <a data-bind="page-href:{path: '/start/product', params: {id: product}}">product</a>
                <a data-bind="page-href:'edit'">edit</a>
                <div>{{title}}</div>
            {{/with}}
        {{/defaultPage}}
        <div data-bind="page: {id: 'edit', title: 'edit item', isMenu:true}">
            {{#with:item}}
                <a data-bind='page-href:"../"'>view</a>
                <label for='item-title'>title</label>
                <input id='item-title' type='text' value={{title}}>
            {{/with}}
            {{#if:item}}
                <input type='button' click={{put(item)}} value="edit">
            {{/if}}
        </div>
    {{/if}}
</div>
<div data-bind="page: {id: 'items', title: 'items', isMenu:true, isSubDefault:true}">
    {{#if:$page.isVisible()}}
        <div data-bind="page: {id: 'new', title: 'new item'}">
            {{#if:$page.isVisible()}}
                {{#with:$data.new()/}}
                {{#with:item}}
                    <label for='item-title'>title</label>
                    <input id='item-title' type='text' value={{title}}>
                {{/with}}
                {{#if:item}}
                    {{#ifnot:item()._id}}
                        <input type='button' click={{post(item)}} value="add">
                    {{/ifnot}}
                    {{#if:item()._id}}
                        <input type='button' click={{put(item)}} value="edit">
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
        {{#defaultPage}}
            <a data-bind="page-href:'new'">new</a>
            {{#with:refresh()}}
                <ul>
                    {{#foreach:items}}
                        <li>
                        <a data-bind='page-href:{path:"/start/item", params:{id:_id}}'>{{$data.title}}</a>
                            <input type='button' click={{$parent.delete($data)}} value="delete">
                        </li>
                    {{/foreach}}
                </ul>
            {{/with}}
        {{/defaultPage}}
    {{/if}}
 </div>
